*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  margin: 0;
}

/* Navbar Section*/
.navbar {
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 1000; 
    padding: 10px 0px; 
    background-color: #030D42;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.navbar ul {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    list-style: none;
    gap: 1rem;
     margin-right: 3rem;
     margin-left: 10rem;
}
.navbar ul li {
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: #c7ad97;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a:hover {
    color: #b48274; 
    transform: scale(1.1);
}
.navbar ul li a .icon {
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

.navbar ul li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #b48274;
    bottom: -5px;
    left: 0;
    transition: width 0.3s;
}

.navbar ul li:hover::after {
    width: 100%;
}

/*Welcome Section*/
#welcome-section{
  text-align: center;
  margin: 0;
  padding: 0;
    height: 100vh;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;  
  background-color: #82cfae;
  color: #b48274;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}

#welcome-section h1{
font-weight: bold;
font-size: 2rem;
font-size: clamp(1.5rem, 5vw, 3rem);
}

#welcome-section p{
font-weight: normal;
font-size: 1.5rem;
}

/*About Section*/
#about {
  padding: 4rem 2rem;
  background-image: url("https://img.freepik.com/free-vector/neon-light-background_53876-67235.jpg?t=st=1736354282~exp=1736357882~hmac=c78cc07970033aa3d86205cbf4f6598e5dbd171bb72c798bc90a1b263d667c37&w=2000");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  text-align: center;
  color: #b48274; 
  font-family: 'Arial', sans-serif;
}

.about-container {
  max-width: 800px;
  margin: 0 auto;
}

#about h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#about p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

#about a {
  text-decoration: none;
}

#about a:hover {
  text-decoration: underline;
}

#about h3 {
  margin-top: 2rem;
  font-size: 1.5rem;
}

/* Contact Section */
.contact-title {
    font-size: 1.8em;
    color: #b48274;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.contact-info {
    font-size: 1.2em;
    color: #b48274;
    text-align: center;
    margin-bottom: 15px;
}
.contact-link {
    color: ##3498db; 
    text-decoration: none;
    font-weight: normal; 
}
.contact-link:hover {
    text-decoration: underline;
    color: #052A9D;
  }

/*Projects Section*/
#projects {
  padding: 50px 20px;
  background-image: url("https://img.freepik.com/free-vector/neon-light-background_53876-67235.jpg?t=st=1736354282~exp=1736357882~hmac=c78cc07970033aa3d86205cbf4f6598e5dbd171bb72c798bc90a1b263d667c37&w=2000");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  text-align: center;
}

#projects h2 {
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #b48274; 
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  justify-items: center;
}

.project-tile {
  background: #030D42;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #b48274;
}

.project-tile:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.project-tile img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-tile h3 {
  font-size: 1.5rem;
  margin: 15px 0;
  text-align: center;
}

.project-tile p {
  font-size: 1rem;
  margin: 0 15px 15px;
  text-align: center;
}

.project-tile a {
  text-decoration: none;
  color: #16a085;
  font-weight: bold;
  display: block;
  margin: 10px 0;
}

.project-tile a:hover {
  color: #1abc9c;
}

.project-tile a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #030D42;
    color: #c7ad97;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s;
}
.project-tile a:hover {
    background-color: #b48274;
    color: white;
}


/* Skills Section */
.skills-section {
    padding: 50px 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    background-image: url("https://img.freepik.com/free-vector/neon-light-background_53876-67235.jpg?t=st=1736354282~exp=1736357882~hmac=c78cc07970033aa3d86205cbf4f6598e5dbd171bb72c798bc90a1b263d667c37&w=2000");
    color: #b48274;
    text-align: center;
}

.skills-title {
    font-size: 2em;
    color: #b48274;
    margin-bottom: 30px;
    font-weight: bold;
}

.skills-heading {
    font-size: 1.3em;
    color: #b48274;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

.skills-container {
    display: flex;
    flex-direction: flex; 
    align-items: left; 
    gap: 20px;
    margin: 20px;
}

.skill-card {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #030D42; 
    color: #b48274; 
    border: 2px solid #0b0a54; 
    border-radius: 8px;
    padding: 1.1rem 4rem;
    width: 8rem;
    transition: transform 0.3s, box-shadow 0.3s;
    font-size: 1.1em;
}

.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.skill-icon {
    font-size: 2em; 
    margin-right: 10px; 
}

.skill-name {
    font-size: 1em;
}


/* Experience Section */
#experience {
  padding: 50px 20px;
  background-image: url("https://img.freepik.com/free-vector/neon-light-background_53876-67235.jpg?t=st=1736354282~exp=1736357882~hmac=c78cc07970033aa3d86205cbf4f6598e5dbd171bb72c798bc90a1b263d667c37&w=2000");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  text-align: center;
}

#experience h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #b48274;
}

.timeline {
  position: relative;
  padding: 20px 0;
  margin: 0 auto;
  max-width: 800px;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 4.49rem; 
  width: 4px;
  height: 100%;
  background-color: #b48274;
}

.timeline-item {
  position: relative;
  margin: 30px 0;
  padding-left: 60px; 
}

.timeline-dot {
  position: absolute;
  top: 0;
  left: 26px;
  width: 16px;
  height: 16px;
  background-color: #b48274;
  border-radius: 50%;
  border: 4px solid #fff;
  transform: translateY(-50%);
}

.timeline-content {
  background-color: #0b0a54;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.timeline-content h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
 color: #b48274;
}

.timeline-content .company {
  font-size: 0.9rem;
 color: #b48274;
}

.timeline-content .duration {
  font-weight: bold;
  color: #b48274;
}

.timeline-content ul {
  margin: 10px 0 0;
  padding-left: 20px;
  list-style-type: disc;
}

.timeline-content ul li {
  font-size: 1rem;
  line-height: 1.5;
  color: #b48274;
}


/* Education & Certifications Section */
#education {
  padding: 50px 20px;
  background-image: url("https://img.freepik.com/free-vector/neon-light-background_53876-67235.jpg?t=st=1736354282~exp=1736357882~hmac=c78cc07970033aa3d86205cbf4f6598e5dbd171bb72c798bc90a1b263d667c37&w=2000");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  text-align: center;
}

#education h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #b48274;
}

.timeline {
  position: relative;
  padding: 20px 0;
  margin: 0 auto;
  max-width: 800px;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 4.49rem; 
  width: 4px;
  height: 100%;
  background-color: #b48274;
}

.timeline-item {
  position: relative;
  margin: 30px 0;
  padding-left: 60px; 
}

.timeline-dot {
  position: absolute;
  top: 0;
  left: 26px;
  width: 16px;
  height: 16px;
  background-color: #b48274;
  border-radius: 50%;
  border: 4px solid #fff;
  transform: translateY(-50%);
}

.timeline-content {
  background-color: #0b0a54;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.timeline-content h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: #b48274;
}

.timeline-content .company {
  font-size: 0.9rem;
  color: #b48274;
}

.timeline-content .duration {
  font-weight: bold;
  color: #b48274;
}

.timeline-content ul {
  margin: 10px 0 0;
  padding-left: 20px;
  list-style-type: disc;
}

.timeline-content ul li {
  font-size: 1rem;
  line-height: 1.5;
  color: #b48274;
}


/* Contact Section */
#contact {
  padding: 50px 20px;
  background: #2c3e50;
  color: white;
  text-align: center;
}

#contact h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

#contact p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  font-style: italic;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.contact-icon {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s ease;
}

.contact-icon:hover {
  color: #1abc9c;
}
.contact-icon i {
  font-size: 1.5rem;
}

/* Small Screens (Mobile Portrait) */
@media (max-width: 480px) {
    /* Navbar Section */
    .navbar ul {
        margin-right: 1rem;
        margin-left: 1rem;
        flex-direction: column;
        align-items: flex-start;
    }

    /* Welcome Section */
    #welcome-section h1 {
        font-size: clamp(1.5rem, 8vw, 2rem);
    }

    #welcome-section p {
        font-size: 1.2rem;
    }

    /* About Section */
    #about {
        padding: 2rem 1rem;
    }

    /* Projects Section */
    #projects h2 {
        font-size: 2rem;
    }

    .project-tile {
        width: 100%;
    }

    /* Skills Section */
    .skills-container {
        flex-direction: column;
    }

    .skill-card {
        width: 100%;
        padding: 1rem 2rem;
    }

    .skills-title {
        font-size: 1.8rem;
    }

    .skills-heading {
        font-size: 1.2rem;
    }

    /* Timeline and Experience Section */
    .timeline {
        padding-left: 40px;
    }

    .timeline-content {
        padding-left: 20px;
        margin-left: 20px;
    }

    /* Education & Certifications Section */
    #education h2 {
        font-size: 2rem;
    }
}

/* Medium Screens (Tablets) */
@media (max-width: 768px) {
    /* Navbar Section */
    .navbar ul {
    margin-right: 1rem;
    margin-left: 18rem;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;  
    height: 100%;        
}
    /* Welcome Section */
    #welcome-section h1 {
        font-size: clamp(1.8rem, 8vw, 2.5rem);
    }

    #welcome-section p {
        font-size: 1.3rem;
    }

    /* About Section */
    #about {
        padding: 2rem 1rem;
    }

    /* Projects Section */
    #projects h2 {
        font-size: 2.2rem;
    }

    .project-tile {
        width: 100%;
    }

    /* Skills Section */
    .skills-container {
        flex-direction: column;
    }

    .skill-card {
        width: 100%;
        padding: 1rem 2rem;
    }

    .skills-title {
        font-size: 2rem;
    }

    .skills-heading {
        font-size: 1.4rem;
    }

    /* Timeline and Experience Section */
    .timeline {
        padding-left: 50px;
    }

    .timeline-content {
        padding-left: 20px;
        margin-left: 20px;
    }

    /* Education & Certifications Section */
    #education h2 {
        font-size: 2.2rem;
    }
}

/* Large Screens (Desktops & Laptops) */
@media (min-width: 1024px) {
    /* Navbar Section */
    .navbar { 
        padding: 0px; 
    }

    .navbar ul {
        margin: 0; 
        padding: 0; 
        width: 100%; 
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .navbar ul li {
        position: relative;
        width: auto; 
        display: inline-block;
    }

    .navbar ul li a {
        display: block; 
        text-decoration: none;
        color: #c7ad97;
        font-size: 1.1rem;
        font-weight: bold;
        padding: 0.5rem 1rem; 
    }

    .navbar ul li a:hover {
        color: #b48274; 
        transform: scale(1.1);
    }

    .navbar ul li::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background-color: #b48274;
        bottom: -5px;
        left: 0;
        transition: width 0.3s;
    }

    .navbar ul li:hover::after {
        width: 100%;
    }


    #welcome-section h1 {
        font-size: 3rem;
    }

    #welcome-section p {
        font-size: 1.5rem;
    }

    #about {
        padding: 4rem 2rem;
    }

    .skills-container {
        flex-direction: row;
    }

    .skill-card {
        width: 8rem;
        padding: 1.1rem 4rem;
    }

    #projects h2 {
        font-size: 2.5rem;
    }

    /* Timeline and Experience Section */
    .timeline {
        padding-left: 60px;
    }

    .timeline-content {
        padding-left: 20px;
        margin-left: 20px;
    }

    /* Education & Certifications Section */
    #education h2 {
        font-size: 2.5rem;
    }
}
